*{
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
}

body{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form{
    background-color: rgba(232, 232, 232, 0.922);
    text-align: left;
    border-color: black;
    border-style: solid;
    width: 500px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}

p{
    white-space: pre;
    margin-left: 100px;
    margin-right: 50px;
}

input[type=text]{
    width: 50%;
}

.RP{
    margin-top: 50px;
}


.submitButton{
    text-align: right;
    margin-right: 80px;
}

.dataDiri{
    text-align: center;
}

h3{
    color: red;
    text-align: center;
}
